# Filtering and Grouping Data

## Filtering data

In [4]:
import pandas as pd

# example DataFrame
data = {'A': [10,20,30,40,50,60,70],
        'B': ['a','b','c','d','e','f','g']}
df = pd.DataFrame(data)

# filtering rows where column 'A' is greater than 50
filtered_df = df[df['A'] > 50]
print(filtered_df)

    A  B
5  60  f
6  70  g

## Grouping data

In [21]:
import pandas as pd

# example DataFrame
data = {'A': [10,20,30,40,50,60,70],
        'B': ['a','b','c','d','e','f','g']}
df = pd.DataFrame(data)

# group by column 'B' and calculate the mean of each group
grouped_df = df.groupby('B').mean()
print(grouped_df)

      A
B
a  10.0
b  20.0
c  30.0
d  40.0
e  50.0
f  60.0
g  70.0

## Combining Filtering and Grouping

In [22]:
# filtering rows where column 'A' is greater than 20
filtered_df = df[df['A'] > 20]

# group by column 'B' and calculate the mean of each group
grouped_df = filtered_df.groupby('B').mean()
print(grouped_df)

      A
B
c  30.0
d  40.0
e  50.0
f  60.0
g  70.0

## Practical Example

You have a DataFrame sales_data with columns 'Product', 'Month', and 'Sales'.
You want to filter for a specific product and then group by month to get the total sales for each month

In [28]:
# Example sales_data DataFrame
data = {'Product': ['A', 'A', 'B', 'B', 'A', 'B', 'A'],
        'Month': ['Jan', 'Feb', 'Jan', 'Feb', 'Mar', 'Mar', 'Mar'],
        'Sales': [100, 150, 200, 250, 300, 350, 400]}
sales_df = pd.DataFrame(data)

# Filter for Product 'A'
filtered_Sales = sales_df[sales_df['Product'] == 'B']
print(filtered_Sales)
print('\n')

# Group by Month and calculate total Sales for each Month
grouped_Sales = filtered_Sales.groupby('Month')[['Sales','Product']].sum()
print(grouped_Sales)

  Product Month  Sales
2       B   Jan    200
3       B   Feb    250
5       B   Mar    350


       Sales Product
Month
Feb      250       B
Jan      200       B
Mar      350       B